Modelo Fluxo_aprovação/Microsoft.Flow/flows/de498843-bef3-4ec4-8aef-1078c967b5bf/definition.json
{"name":"884b0369-5ae3-4772-be4b-be6fcd2a8f42","id":"/providers/Microsoft.Flow/flows/884b0369-5ae3-4772-be4b-be6fcd2a8f42","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Envie respostas de formulário para aprovação","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"758b232f-183d-4f3e-8298-d259defab649","type":"User","tenantId":"d8bde65a-3ded-4346-9518-670204e6e184"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-01-19T13:06:43.3894559Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"metadata":{"operationMetadataId":"47ba3326-c424-4918-9aff-dc11a3706978"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"Wua92O09RkOVGGcCBObhhC8ji3U9GD5PgpjSWd76tklURUhJN0tWSzZMRE5JUlo2TkxEVFkzOE1aNy4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Apply_to_each":{"foreach":"@triggerOutputs()?['body/value']","actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"b3017f8a-b872-40af-9abb-47cca1ee14ee"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"Wua92O09RkOVGGcCBObhhC8ji3U9GD5PgpjSWd76tklURUhJN0tWSzZMRE5JUlo2TkxEVFkzOE1aNy4u","response_id":"@items('Apply_to_each')?['resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"b9e23cc7-1dbb-48e0-8693-2c72f28b97af"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"approvalSubscribeV2"},"parameters":{"approvalType":"BasicAwaitAll","ApprovalCreationInput/title":"Aprovar ou rejeitar","ApprovalCreationInput/assignedTo":"gcromualdo@stefanini.com;","ApprovalCreationInput/details":"@{outputs('Get_response_details')?['body/responder']} - Sugestão de melhoria","ApprovalCreationInput/enableNotifications":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"c80500f3-c003-416f-b950-966a61e8a10b"},"type":"Foreach"}},"description":"Quando uma nova resposta for enviada, inicie um processo de aprovação. Se aprovada, registre a resposta como um novo item em uma lista do SharePoint."},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-6608cad6-c55b-4aff-855f-7f3cd4b34442","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-416d622d-408b-455e-8d0a-17dc968861cd","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}